---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex items-center gap-x-4 pb-10">
        Hey, soy Sergio
        <a
          href="https://www.linkedin.com/in/sergio-jim%C3%A9nez-rubio/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity-80">
        Estusiasta de las tecnologías. Desarrollador especializado en frontend,
        programando des desde Albacete, España 🇪🇸.
      </h2>
      <ul></ul>
    </section>
  </main>
</Layout>
