---
import Layout from "@/layouts/Layout.astro";
import Badge from "@/components/Badge.astro";
import IconPill from "@/components/IconPill.astro";
import Experience from "@/components/Experience.astro";
import Container from "@/components/Container.astro";
import GitHubIcon from "@/icons/GitHubIcon.astro";
import LinkedinIcon from "@/icons/LinkedinIcon.astro";
import GmailIcon from "@/icons/GmailIcon.astro";
import BriefCaseIcon from "@/icons/BriefCaseIcon.astro";
---

<Layout
  title="Portfolio de Sergio Jiménez. Desarrollador y programador web enfocado en frontend."
  description="Descubre mi portafolio donde encontrarás mis proyectos más destacados y conocerás a fondo mis conocimientos."
>
  <Container>
    <img
      class="rounded-full size-12 object-cover mb-4"
      src="./images/perfil-linkdin.jpg"
      alt="Perfil Sergio"
    />

    <h1
      class="text-gray-600 dark:text-gray-100 text-5xl font-bold flex items-center gap-x-4 pb-10"
    >
      Sergio Jiménez
      <a
        href="https://www.linkedin.com/in/sergio-jim%C3%A9nez-rubio/"
        target="_blank"
        rel="noopener"
      >
        <Badge>No disponible</Badge>
      </a>
    </h1>
    <h2 class="text-gray-600 dark:text-gray-100 text-2xl text-pretty">
      Estusiasta de las tecnologías. Desarrollador especializado en frontend,
      programando desde Albacete, España.
    </h2>

    <nav class="flex gap-x-4 mt-4 text-gray-600 dark:text-gray-100">
      <IconPill
        href="https://www.linkedin.com/in/sergio-jim%C3%A9nez-rubio/"
        brand="Linkedin"
      >
        <LinkedinIcon class="size-6" />
        Linkedin
      </IconPill>
      <IconPill href="https://github.com/sergio-jr-dev" brand="GitHub">
        <GitHubIcon class="size-6" />
        GitHub
      </IconPill>
      <IconPill href="mailto:sjr.social@gmail.com" brand="Gmail">
        <GmailIcon class="size-6" />
        sjr.social@gmail.com
      </IconPill>
    </nav>
  </Container>

  <Container id="experience">
    <h2
      class="font-semibold text-2xl flex items-center gap-x-2 text-gray-950 dark:text-white"
    >
      <BriefCaseIcon class="size-7" />
      Experiencia laboral
    </h2>
    <Experience />
  </Container>
</Layout>
