---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo 2023 - Actualmente",
    title: "Profesor programador",
    company: "Socratech",
    description:
      "Doy clases de maquetación y Git. Ayudo con los proyectos en la parte de maquetación, front y back. Genero contenido de programación en YouTube. Galardonados con el premio a Mejor Escuela de Tecnología 2024 por El Suplemento.",
    link: "https://socratech.es",
  },
  {
    date: "Septiembre 2022 - Febrero 2023",
    title: "Bootcamp Full-Stack",
    company: "Socratech",
    description:
      "Bootcamp Full-Stack con algunas tecnologías como: CSS, HTML, Bootstrap, Sass, JavaScript, React, Node JS, Express, MySQL, Git, etc. Proyecto final realizado para la empresa Beemeral.",
  },
];
---

<ol class="relative mt-12 flex flex-col gap-y-12">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
