---
import Container from "./Container.astro";
import SpainFlagIcon from "@/icons/SpainFlagIcon.astro";
---

<footer>
  <Container class="py-4">
    <p class="flex items-center justify-center gap-x-2">
      Sergio Jiménez Rubio - Albacete, España
      <SpainFlagIcon />
    </p>
  </Container>
</footer>
