---
import SpainFlagIcon from "@/icons/SpainFlagIcon.astro";
---

<footer class="border-border bg-surface-elevated mt-auto border-t">
  <p
    class="text-subtle flex items-center justify-center gap-x-2 px-5 py-4 text-sm"
  >
    Sergio Jiménez Rubio - Albacete, España
    <SpainFlagIcon aria-hidden="true" />
  </p>
</footer>
