---
import Container from "@/components/Container.astro";
import ThemeSelector from "@/components/ThemeSelector.astro";
---

<footer
  class="border-border bg-surface-elevated text-subtle mbe-20 sm:mbe-0 mt-auto border-y py-4 text-sm sm:border-t"
>
  <Container>
    <div class="flex items-center justify-center gap-4">
      <p>Sergio Jiménez Rubio</p>
      <span>-</span>
      <p>2026</p>
      <ThemeSelector class="flex sm:hidden" />
    </div>
  </Container>
</footer>
