---
import ThemeSelector from "./ThemeSelector.astro";
---

<header
  class="mx-auto flex w-full max-w-5xl items-center justify-center py-5 text-gray-900 dark:text-gray-100"
>
  <nav class="flex gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mí</a>
    <a href="#contact">Contacto</a>
    <ThemeSelector />
  </nav>
</header>
