---
interface Props {
  href: string;
  brand?: string;
  label?: string;
}

const { href, label } = Astro.props;
---

<a
  class="bg-accent-soft focus-visible:ring-ring focus-visible:ring-offset-background text-foreground :hover-text-bold group flex min-w-0 items-center justify-center gap-x-2 rounded-full border px-4 py-2 text-base shadow-sm shadow-black/5 transition duration-200 hover:brightness-90 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 dark:hover:brightness-110"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={label}
>
  <slot />
</a>
