<a
  class="flex items-center justify-center gap-x-2 rounded-full border border-gray-300 bg-gray-100 px-4 py-2 text-gray-700 transition hover:scale-110 hover:bg-gray-100/10 dark:border-white/10 dark:bg-white/5 dark:text-gray-200 dark:hover:bg-white/10"
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label=`Icono de ${Astro.props.brand}`
>
  <slot />
</a>
