---
import Badge from "@/components/Badge.astro";
import IconPill from "@/components/IconPill.astro";
import GitHubIcon from "@/icons/GitHubIcon.astro";
import LinkedinIcon from "@/icons/LinkedinIcon.astro";
import GmailIcon from "@/icons/GmailIcon.astro";
import { Image } from "astro:assets";
import profileImg from "../assets/perfil-linkedin.jpg";
---

<Image
  src={profileImg}
  alt="Perfil Sergio"
  loading="eager"
  class="mb-4 size-20 rounded-full object-cover object-top shadow-sm shadow-slate-400"
/>

<h1
  class="flex flex-wrap items-center gap-x-4 pb-10 text-3xl font-bold text-slate-900 dark:text-gray-100 lg:text-5xl"
>
  Sergio Jiménez
  <a
    href="https://www.linkedin.com/in/sergio-jim%C3%A9nez-rubio/"
    target="_blank"
    rel="noopener"
  >
    <Badge>No disponible</Badge>
  </a>
</h1>
<h2 class="text-pretty text-lg text-gray-800 dark:text-gray-100 lg:text-2xl">
  Estusiasta de las tecnologías. Desarrollador especializado en frontend,
  programando desde Albacete, España.
</h2>

<nav class="mt-4 flex flex-wrap gap-4 text-gray-600 dark:text-gray-100">
  <IconPill
    href="https://www.linkedin.com/in/sergio-jim%C3%A9nez-rubio/"
    brand="Linkedin"
  >
    <LinkedinIcon class="size-6" />
    Linkedin
  </IconPill>
  <IconPill href="https://github.com/sergio-jr-dev" brand="GitHub">
    <GitHubIcon class="size-6" />
    GitHub
  </IconPill>
  <IconPill href="mailto:sjr.social@gmail.com" brand="Gmail">
    <GmailIcon class="size-6" />
    sjr.social@gmail.com
  </IconPill>
</nav>
