---
import ThemeIcon from "@/icons/ThemeIcon.astro";
---

<button
  id="themeToggle"
  class="border-none bg-transparent"
  aria-label="Cambiar entre modo claro y modo oscuro"
>
  <ThemeIcon />
</button>

<script is:inline>
  const html = document.documentElement;
  const theme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");

  html.classList.toggle("dark", theme === "dark");

  document.getElementById("themeToggle").addEventListener("click", () => {
    html.classList.toggle("dark");
    localStorage.setItem(
      "theme",
      html.classList.contains("dark") ? "dark" : "light"
    );
  });
</script>
