---
import Header from "@/components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>

  <body
    class="bg-cover [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
  >
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  body {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: "Onest Variable";
  }
</style>
