---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>

  <body
    class="bg-cover [background:radial-gradient(115%_115%_at_50%_10%,#efefef_10%,#2025ff_100%)] dark:[background:radial-gradient(115%_115%_at_50%_10%,#000_10%,#090c9b_100%)]"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scrollbar-width: thin;
    scrollbar-color: #dbeafe #6d28d9;
    scroll-behavior: smooth;

    &.dark {
      scrollbar-color: #1d3a8a #f59e0b;
    }

    @media (prefers-reduce-motion: reduce) {
      scroll-behavior: auto;
    }
  }

  body {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: "Onest Variable";
  }
</style>
